[2020-10-30 13:44] trumbitta opened #5 "[Feature] Some more working code in the generated app"
Both the express and NestJS app generator schematics produce an app with a simple working REST endpoint: some `GET /api/v1/example` with a simple JSON response body.

I think this is something the spring boot plugin should also do, because it empowers newbies giving them some sort of track to follow.

It would also greatly simplify some Nx demo I'm working on :D

[2020-10-30 13:49] trumbitta opened #6 "[Bug] CLI generator stuck when asking for user input"
Plugin Version:
latest from NPM

Nx Version (`nx --version`):
10.3.1

#### Expected Behaviour

When generating a new app, all the input prompts work.

#### Actual Behaviour

When generating a new app, some input prompts don't work and script is stuck. E.g. when asked which type of project I want, the "enter" keys does nothing with either the default value or after typing `gradle-project` or `maven

[2020-10-30 13:55] trumbitta opened #8 "Using consistent naming"
I'd like to see a consistent (hence mnemonic) naming for the targets, just like for the official plugins by Nrwl.

## Example

Instead of: `nx run myApp:run`
Have this: `nx run myApp:serve`

I'm still on the fence about the others, but this one bugs me in a special way :D

[2020-10-30 15:22] tinesoft commented on #8
Hi @trumbitta

Whoa, thanks you for all you feedbacks! Very much appreciated.
This is indeed a valid point. Plus, this will make #7 unnecessary (as a simple `nx serve my-boot-app` will suffice).

I will make change asap.

Cheers!

[2020-10-30 15:26] tinesoft commented on #6
Thanks for reporting @trumbitta

Will look into it asap.

In the meantime, if you found out the cause of this issue, please don't hesitate to share it

Cheers!

[2020-10-30 19:24] trumbitta commented on #8
Awesome idea! 👏

[2020-10-30 19:27] #8 closed

[2020-10-30 21:59] #6 closed

[2020-10-30 22:49] tinesoft commented on #5
Hi,

Humm...it is a bit opinionated, as not all applications generated are necessary "web" applications, but I see the point.

Maybe this can be solved by using concept of presets, just like Nx do when generating a workspace...

This could be a new `preset` option to add to the `application` schematics, that would call a `preset` schematics.
Possible value can be: `empty` (current behavior) | `web

[2020-11-02 08:42] snicoll opened #11 "[Feature] Add user-agent for requests to start.spring.io"
**Is your feature request related to a problem? Please describe.**
When requesting a new project on start.spring.io, we prefer that a `User-Agent` header to be set, see [the reference guide](https://docs.spring.io/initializr/docs/current/reference/html/#metadata-format).

**Describe the idea you'd like**
A `User-Agent` to be set according to the docs for every request to the service.

[2020-11-02 08:57] tinesoft commented on #11
Hi @snicoll!

Thanks for reaching out about this. I was indeed not aware of that guide.
I will start implementing the enhancement right away.

PS: by the way, I love ❤️ the work you do on Spring (`core`, `boot`, `initialzr`, etc)! Keep up 💪🏾

[2020-11-02 10:28] #11 closed

[2020-11-02 12:46] snicoll commented on #11
Sweet, thanks for the fast turnaround and the kind words!

Just to make sure I got this right, the `User-Agent` is something like `@nxrocks_nx-spring-boot/<version>`, e.g. `@nxrocks_nx-spring-boot/1.0.0`?

[2020-11-02 13:03] tinesoft commented on #11
Yes exactly, as mentioned in the [guide](https://docs.spring.io/initializr/docs/current/reference/html/#metadata-format):

- `@nxrocks_nx-spring-boot` is the `clientId` (i chose to replace the `/` by `_`, to avoid issue with the version part)
- `x.y.z` is the `clientVersion`, and follows   the semantic versioning

[2020-11-04 18:32] tinesoft opened #13 "[Refactor] [nx-spring-boot] Use Schematics's `Tree` API to save files extracted from spring boot zip"
**Is your feature request related to a problem? Please describe.**

Currently, when the spring boot zip is downloaded, files are extracted directly from the HTTP response's stream to the target directory, using `unzipper.Extract()` API, bypassing the Schematics's Tree API, which is better as it does not affect the file system in case an error occurs.

**Describe the idea you'd like**

Parse each f

[2020-12-21 23:04] davidmoshal opened #15 "error creating project"
Plugin Version:
- 1.1.0

Nx Version (`nx --version`):
- 11.0.16

Angular CLI version (`ng --version`):
- not using angular

#### Expected Behaviour
expected the command:
` nx g @nxrocks/nx-spring-boot:app `
to create a spring application.

#### Actual Behaviour
[code]

[2020-12-21 23:12] davidmoshal commented on #15
Note: it seems that this error is specific to Kotlin Gradle projects only!
- Gradle/Kotlin project creation fails.
- Gradle/Java project creation works.
- Maven/Kotlin project creation works.
David

[2020-12-21 23:32] davidmoshal commented on #15
Workaround:
1) create a Gradle/Java project say "projectJ".
2) create a Gradle/Kotlin project say "projectK".
- Even though projectK fails with above error message, the Spring project is created (though nx.json and workspace.json are not updated).
3) manually copy and paste the "projectK" information in nx.json and workspace.json, renaming projectJ references to projectK.
4) remove ProjectJ (nx g

[2020-12-21 23:36] tinesoft commented on #15
Hi @davidmoshal

Thanks for using the plugin, and for reporting the issue, as well as the workaround.

I will look into it and provide a proper fix asap.

Cheers!

[2020-12-22 20:25] #15 closed

[2020-12-31 16:45] Kwandes opened #17 "[Bug] User options are not used to generate the project"
Plugin Version:
- nx-spring-boot@1.2.0

Nx Version (`nx --version`):
- 11.0.20

Angular CLI version (`ng --version`):
- 11.0.4

Node version:
- 14.15.1

Operating System:
- Windows 10 Pro, version 20H2

#### Expected Behaviour

When creating a Java Spring app in an empty NX monorepo, the user is prompted to select various project settings.
Upon selection, those settings should apply and generate t

[2021-01-03 16:17] tinesoft commented on #17
Hi @Kwandes

Thanks for using the plugin, and for reporting the issue.

I was not about to reproduce the bug you mentioned when running the app (`gradle` being used instead of `maven`). Also, when you leave the`"description"`field empty, `Spring Initialzr` automatically uses the default description (`"Demo Project for Spring Boot"`), so there is nothing I can do here.

For the rest, custom `groupI

[2021-01-03 21:10] #17 closed

[2021-01-07 07:49] benoitskipr opened #21 "[Bug] [nx-flutter] Schematic "application" cannot resolve the factory."
Plugin Name and Version:
nx-flutter@1.0.0

Nx Version (`nx --version`):
11.0.20

Angular CLI version (`ng --version`):
11.0.6

#### Expected Behaviour
the application should be created

#### Actual Behaviour
tool ends with `Schematic "application" cannot resolve the factory.`

#### Steps to reproduce the behaviour
`nx g @nxrocks/nx-flutter:app dora`

? What package name would you like to use? `dor

[2021-01-07 09:12] tinesoft commented on #21
Hi @benoitskipr

Thank you for using the plugin and for reporting the issue!

There was indeed an error with the published package on NPM(`@nxrocks/nx-flutter@1.0.0`: the *.ts file were not compiled properly, thus considered missing when running the `application` Schematic)

I am working on a fix as we speak.  Stay tuned.

[2021-01-10 09:03] tinesoft commented on #21
I've just published a new version (v1.1.0) that should fix the issue.

[2021-01-10 09:03] #21 closed

[2021-01-10 13:34] scarnett opened #22 "[Bug] [nx-flutter] TypeError: options.platforms.join is not a function"
Plugin Name and Version:
nx-flutter@1.1.0

Nx Version (`nx --version`):
11.1.1

Angular CLI version (`ng --version`):
11.1.1

#### Expected Behaviour
The application should be created

#### Actual Behaviour
errors out with `TypeError: options.platforms.join is not a function`

#### Steps to reproduce the behaviour
`nx g @nxrocks/nx-flutter:app test`

? What package name would you like to use? `com

[2021-01-11 15:24] scarnett commented on #22
I now receive a different error after this update:

`Property 'platforms' does not match the schema. 'android' should be a 'array'.`

Same steps as above.

[2021-01-11 15:44] tinesoft commented on #22
Hi @scarnett,

Thanks again for the feedback.

This seems to be due to a bug in Nx itself (with the `nx generate` command).
I have reported the issue on Nx repo:  https://github.com/nrwl/nx/issues/4499

In the meantime, a workaround would be to run the generator with `Angular DevKit's schematics cli` instead of Nx's.

`$ npx @angular-devkit/schematics-cli @nxrocks/nx-flutter:app flutter-app`

(_yo

[2021-01-11 17:47] scarnett commented on #22
Your workaround worked great for me. Thanks for your help @tinesoft!

[2021-01-12 12:46] benoitskipr opened #23 "[Bug] [nx-flutter] missing quotes around -description value"
Plugin Name and Version:
nx-flutter 1.2.0

Nx Version (`nx --version`):
11.1.2

Angular CLI version (`ng --version`):
11.0.6

#### Expected Behaviour
I should be able to write multiple words for the Description step

#### Actual Behaviour
command line fails because of the space in description
```Failed to execute command: flutter create --project-name=design --org=skipr.design --description=Design

[2021-01-12 19:39] #23 closed

[2021-01-12 19:41] tinesoft commented on #23
Hi @benoitskipr

Thanks for reporting the issue!
I now automatically quote the description if needed, to avoid the error.
The fix will be released very soon.

Cheers

[2021-01-13 12:28] benoitskipr commented on #23
thanks!

[2021-01-14 16:32] tinesoft opened #26 "[Feature] [nx-flutter] make the prompt and available builders dynamic and based on previous answers"
**Is your feature request related to a problem? Please describe.**
As reported by @benoitskipr [here](https://github.com/tinesoft/nxrocks/discussions/24), some options are not compatible together (like `--platforms` and `--template!=app`), and should not be asked to user based on its previous selection. Also, some builders (like `buildApk` for example), make no sense for some type of projects (`pa

[2021-01-14 18:09] tinesoft opened #27 "[Feature] [nx-flutter] add a proper alias to `app` schematics"
**Is your feature request related to a problem? Please describe.**
Using `app` in `nx g @nxrocks:nx-flutter:app` to create a Flutter package or module is not really intuitive.
**Describe the idea you'd like**
Add a `create` alias to the application schematics and highlight it in the README (instead of current `app`).

**Describe alternatives you've considered**

**Additional context**

[2021-01-14 18:32] tinesoft opened #28 "[Feature] [nx-flutter] add dependency graph support"
**Is your feature request related to a problem? Please describe.**
It would be great if the plugin could generate the dependency graph for the flutter packages used
by analysing imports or reading the `pubspec.yaml` for example...

**Describe the idea you'd like**

**Describe alternatives you've considered**

**Additional context**
Investigate how Nx does it for TS/JS code

[2021-01-14 18:38] #27 closed

[2021-01-17 23:39] Kwandes opened #29 "[Bug] Springboot maven app is incorrectly recognized as a gradle app"
Plugin Name and Version:
- 1.2.1

Nx Version (`nx --version`):
- 11.1.5

Angular CLI version (`ng --version`):
- 11.0.4

Operating System:
- Windows 10 20H2

Project setup:
- Springboot app generated with nxrocks 1.2.1, type: Maven

#### Expected Behaviour
When `nx serve app` / `nx run app:run` / `nx buildJar app` /  `nx buildWar app` / `nx buildImage app` / `nx buildInfo app` commands are run, a

[2021-01-17 23:50] Kwandes opened #30 "[Feature] Add a Test target to springboot app schematic"
**Is your feature request related to a problem? Please describe.**
Applications in NX projects usually include a `test` target, for running tests for the given application. That is missing from the schematic for a springboot app.
It could utilize `mvnw test` to perform testing. This would be faster than the current alternative which is to build a jar/war, and isolates issues.

**Describe the idea

[2021-01-18 07:06] tinesoft commented on #30
Hi @Kwandes

Great  idea 💡 ! I will start implementing it ASAP.

Cheers

[2021-01-18 08:48] tinesoft commented on #29
Hi @Kwandes

Thank you for reporting the issue. I was able to reproduce it on my windows 10 machine (which is a good sign 😄 ). I will now look into a fix. Stay tuned!

Cheers

[2021-01-26 09:23] jbadeau opened #31 "Support provided Maven/Gradle runtimes"
Support host provided Maven and Gradle runtimes.

It would be great if this plugin could support host provided Maven and Gradle runtimes in addition to wrappers to provide:

- Firewalled support (i.e. cant download wrappers)
- Consistent runtime versions (always the same version of maven or gradle)
- Faster
- Better support for CI steps

[2021-01-26 10:11] tinesoft commented on #31
Hi @jbadeau

Thanks for submitting the idea.

Can you elaborate what you mean by "host provided runtimes"?
and how you would like to specify them?

Cheers

[2021-01-26 11:04] jbadeau commented on #31
The builders rely on the wrappers 'mvnw' and 'gradlew' which are not always existing (coudlnot download for instance).

I just did a quick test by changing the command

`./mvnw${isWin ? '.cmd' : ''}`;

to

`mvn`;

which works fine. A builder option for ignoreWrapper would be great.

[2021-01-26 11:37] tinesoft commented on #31
Ok I get it now. Thanks for clarifying.

It is indeed a legit improvement.

I will start implementing that soon.

[2021-01-26 11:46] jbadeau commented on #31
Awesome! And great job on the plug-in :)

[2021-01-26 15:05] jbadeau opened #32 "Dependencies Question"
Currently the spring integration only supports a single module and not dependencies (at least in maven).

Do you have any plans to support dependencies (e.g. foo-common)

- How would this work?
- Would it use maven reactor or nx dependency graph`?
- How would this work with nx build cache and affected:apps/libs

If these are not planned I could have a look at it

[2021-01-27 06:42] #26 closed

[2021-01-27 19:30] #30 closed

[2021-01-31 10:08] tinesoft commented on #29
Hi @Kwandes,

Looking at the 2 repos you mentioned in your first comment, I noticed that the Maven Wrapper (`./mvnw`) located at the root of the generated spring boot app, **is not executable** as it should.... which is causing the issue. Indeed, with current implementation of the plugin, the project build system is determined by trying to execute the `./mvnw --version` command.

I wasn't able to

[2021-01-31 10:08] #29 closed

[2021-01-31 10:09] #31 closed

[2021-01-31 21:30] tinesoft commented on #32
Hi @jbadeau

Thanks for the question.

By "dependencies", you mean being able to see how multiple spring-boot projects (apps or libraries) inside the Nx workspace are related, right? Just like Nx does it for Angular or React projects ?

If so, this could be indeed a great 💡 addition to the plugin.

I will have to dig into how Nx team does it for Angular or React projects when running `nx dep-graph

[2021-01-31 21:43] #22 closed

[2021-02-01 07:39] jbadeau commented on #31
Cool, will try out today.

Will also have a look at the dependency and caching later this week.

[2021-02-03 15:15] DominikPieper opened #37 "[Bug] generate new app not working with Nx 11.2"
Plugin Name and Version:
nx-spring-boot@v1.3.0

Nx Version (`nx --version`):

Nx 11.2.0

Angular CLI version (`ng --version`):

#### Expected Behaviour
Project is generated

#### Actual Behaviour
In the actual Nx version 11.2 the import @nrwl/workspace/src/utils/fileutils changed  to @nrwl/workspace/src/utilities/fileutils

#### Steps to reproduce the behaviour
Just try to generate a new applicati

[2021-02-03 15:24] tinesoft commented on #37
Hi @DominikPieper

Thank you for reporting the issue.
I will have a look asap.

Cheers

[2021-02-03 15:34] DominikPieper commented on #37
Great, thanks. The solution is just the change of the import. Did the same fix for my Nx plugin. They renamed the folder

[2021-02-05 12:01] Kwandes opened #38 "[Bug] NX fails to execute maven commands"
Plugin Name and Version:
- @nxrocks/nx-spring-boot:1.3.0

Nx Version (`nx --version`):
- 11.0.20

Angular CLI version (`ng --version`):
 - Not present, as the workspace was created as an empty workspace (it's not a angular workspace)

#### Expected Behaviour
When I execute `nx serve test-java-app` against a freshly generated (with this plugin) java springboot app, I expect it to properly start the

[2021-02-06 20:55] tinesoft commented on #38
Hi @Kwandes

Thanks for reporting the issue in a such detailed way.

I believe that I have found the source of the problem:
On Windows, the plugin currently run `./mvnw.cmd xxx` (resp. `./gradlew.cmd xxx`)
whereas it should simply run `mvnw.cmd xxx` (resp. `gradlew.cmd xxx`) instead.

I'm developing on macos, so I didn't see the problem sooner (neither did my e2e tests ...)

Anyway, I will provide

[2021-02-06 21:18] #38 closed

[2021-02-07 22:41] #37 closed

[2021-02-09 14:16] Kwandes commented on #38
Works perfectly for both my friend and me. Thank you very much for a quick fix

[2021-02-09 15:57] tinesoft commented on #38
You're welcome @Kwandes

Thank you for reporting the issue :-)

[2021-02-09 19:04] Kwandes opened #39 "[Feature] Lint target for springboot apps"
**Is your feature request related to a problem? Please describe.**
NX contains commands for various actions, with some being solely for running the application, while others being used to ensure quality. While this springboot plugin covers everything needed to run and deploy the app, it's missing linting.

**Describe the idea you'd like**
A lint target, allowing developers to check code for potent

[2021-02-09 19:12] Kwandes opened #40 "[Feature] Formatting support for springboot apps"
**Is your feature request related to a problem? Please describe.**
NX contains commands for various actions, with some being solely for running the application, while others being used to ensure quality. While this springboot plugin covers everything needed to run and deploy the app, it's missing formatting support.

**Describe the idea you'd like**
When `nx format:check` and `nx format` are run,

[2021-02-11 08:48] tinesoft commented on #40
Hi @Kwandes!

Thank you for the idea 💡. This is interesting, even if I believe the interest is limited,
given that most IDE's have this integrated already and activated upon file save automatically.

However, I agree it could fit well with the `nx format` commands spirit.

The problem is there is no "default" or "standard" formatter (that I'm aware of) for JVM-based project...

I've found this htt

[2021-02-12 17:10] jameone opened #41 "[Feature] Could the create command be separated into two commands, one for app and one for lib?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No.

**Describe the idea you'd like**
A clear and concise description of what you want to happen.

I would like to see nx g @nxrocks/nx-flutter:create <app-folder> separated into:

nx g @nxrocks/nx-flutter:app <app-name> [--directory=<dire

[2021-02-14 10:09] tinesoft commented on #41
Hi @jameone

Thank you for using the plugin and for the feature request.

Instead on spitting the `create` command into 2 (one for `app`, one for `lib`), I can instead rely
on the existing `template` option to infer the appropriate project type:
- if `template=app` 						=>  `projectType.Application`
- else (`template = module|package|plugin`	=> `projectType.Library`

*I'm planning on removing bot

[2021-02-14 15:48] jameone commented on #41
Hi @tinesoft,

I like the idea of making the existing comand smarter, rather than splitting 1 command into 2 commands. What you describe is definately a better approach.

I have given some thought about how you would integrate with `dep-graph` (note: this insight comes from using the nx tool and so is basically my assumptions about how nx works, not from analysis of the code, and is specific to my

[2021-02-26 11:44] Kwandes opened #42 "[Bug] NX Springboot app generation in an empty workspace requires Angular dependencies"
Plugin Name and Version:
@nxrocks/nx-spring-boot@1.3.1

Nx Version (`nx --version`):
11.4.0

Node Version (`node -v`):
Current LTS: 14.16.0

NPM  Version (`npm -v`):
6.14.11

Angular CLI version (`ng --version`):
None, it's an empty NX project

#### Expected Behaviour
When I run `nx g @nxrocks/nx-spring-boot:app java-api` and fill out the options, a new java springboot app gets generated

#### Act

[2021-02-26 15:24] mattagohni opened #43 "[Bug] buildJar does not run successfully"
Plugin Name and Version:
@nxrocks/nx-spring-boot@1.3.1

Nx Version (`nx --version`):
11.3.0

Angular CLI version (`ng --version`):
11.3.0

#### Expected Behaviour
when

[code]
is executed the SpringBoot Application is `repackaged` successfully.

#### Actual Behaviour
[code]

#### Steps to reproduce the behaviour
- Add SpringBootApp to a nxMonoRepo
- run `nx buildJar <SpringBootApp>`

#### More Inf

[2021-02-28 20:23] tinesoft commented on #42
Hi again @Kwandes!

Thanks for the continuing use and helpful bug reporting on the plugin, much appreciated 👍🏾

The error you mentioned is due to [this recent change](https://github.com/nrwl/nx/pull/4610) in Nx workspace starting v11.2.6. In fact the dependencies `@angular-devkit/{core,architect,schematics}`, that this nx plugin (like most) is using internally, have been removed from Nx, as they a

[2021-03-02 20:39] tinesoft commented on #43
Hi @mattagohni

Thanks for using the plugin and for reporting this issue.
As you said, this may be a general problem on Spring Boot side.
I'm monitoring the original issue to see if I need to take some actions or not.

Stay tuned

[2021-03-15 10:49] dhrn opened #44 "[Bug] not able to create module and Shareable Flutter project containing modular Dart code"
Plugin Name and Version:

nx-flutter

Nx Version (`nx --version`):
11.5.1

Angular CLI version (`ng --version`):
11.5.1

#### Expected Behaviour
should be able to create
...

#### Actual Behaviour
![image](https://user-images.githubusercontent.com/14145706/111141275-5b243980-85a9-11eb-8b3b-2701445144fd.png)
...

#### Steps to reproduce the behaviour

Try to scaffold the `Flutter module ` and `Shar

[2021-03-16 18:11] tinesoft commented on #44
Hi @dhrn

Thanks for using the plugin and for reporting this.
I will a look asap and provide  a fix soon.

[2021-03-29 07:31] #44 closed

[2021-03-31 22:10] #41 closed

[2021-04-02 15:16] tinesoft commented on #42
Fixed in [v2.0.0](https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv2.0.0)

[2021-04-02 15:17] #42 closed

[2021-04-05 07:45] tinesoft opened #46 "[Bug] [nx-flutter] Correct and reactivate e2e tests"
Currently, `e2e` tests have been disabled on `nx-flutter`, because they don't seem to work...

Each test exceeds the max duration required and ends up with a `Jest timeout error`...
Raising that timeout value doesn't work...it seems an error is occurring when `project` generator runs..

I cannot debug the full execution of the test in VSCode, because the breaking points in the generator code (eith

[2021-04-22 15:05] AgentEnder commented on #28
For further context, here is what the implementation in my nx-dotnet plugin looks like:

https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/core/src/graph/process-project-graph.ts
https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/utils/src/lib/workspace.ts

[2021-04-22 16:10] tinesoft commented on #28
Hi @AgentEnder ,

Thanks for Nx 12 and the extension point added to the [project graph API](https://nx.dev/latest/angular/structure/project-graph-plugins), I was able to solve this issue already ( I have yet to push the changes).

This should be released in the next upcoming version of the plugin (`v2.1.0`) very shortly. Stay tuned ;-)

Thanks for the pointer anyway!

[2021-04-22 16:19] AgentEnder commented on #28
Great! The nx-dotnet plugin is also making use of the project graph API.

[2021-04-22 16:21] tinesoft commented on #28
Yes exactly. This kind of extension was not possible prior Nx12 .

[2021-04-22 16:22] AgentEnder commented on #28
Yes, its very exciting to see this part of Nx opening up. Makes it much more useful in non JS/TS workspaces.

[2021-04-22 16:41] tinesoft commented on #28
@AgentEnder  I cannot agree more! 😊
I've been waiting for this feature since this issue was created!

[2021-04-26 17:53] #28 closed

[2021-04-28 16:22] tinesoft commented on #32
Fixed in https://github.com/tinesoft/nxrocks/pull/51 and released in `v2.1.0`

[2021-04-28 16:22] #32 closed

[2021-05-01 11:39] CodingSpiderFox opened #53 "[Feature] [nx-spring-boot] nx affected:build should build changed spring boot project."
Plugin Name and Version:
"@nxrocks/nx-spring-boot": "2.1.0"

Nx Version (`nx --version`):
12.0.8

Angular CLI version (`ng --version`):
React 17.0.2.

#### Expected Behaviour
`nx affected:build --all should rebuild spring boot project

#### Actual Behaviour
Output is: (note abcd is the React application)
[code]

#### Steps to reproduce the behaviour
Create workspace with a react application
Add nx

[2021-05-01 15:25] tinesoft commented on #53
Hi @CodingSpiderFox

Thanks for using the plugin and for opening an issue!

What you are asking is more a feature than a bug actually.
In fact, there is currently no "build" executor/builder out-of-the box for the `nx-spring-boot` plugin
(its either `buildJar` or `buildWar`).
Also, the behavior you natively have with nx's`affected`commands on JS/TS-based projects, must be
explicitly implemented fo

[2021-05-01 18:44] CodingSpiderFox commented on #53
Thanks :)

[2021-05-09 06:29] tinesoft opened #58 "[Bug] CI: Build results are retrieved from Nx Cloud cache even when running on different OS than local machine"
I'm using Nx cloud to speed up the build/test/etc time of this workspace.

Before pushing my code, I alway run `nx affected:test --parallel` in a pre-commit hook,
to ensure I'm not commiting anything that could break the code.

Unfortunately, the results of that previous successful local build are picked and retrieved from Nx cloud (see https://github.com/tinesoft/nxrocks/runs/2536385807?check_sui

[2021-05-09 07:58] #58 closed

[2021-05-19 07:38] #13 closed

[2021-06-02 02:42] andre-silvakmm opened #65 "[Feature] How can I create a lib and use in an application?"
Can I create a spring-boot library and use inside a application in the workspace?

[2021-06-02 04:35] tinesoft commented on #65
Sure, since [v2.0.0](https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv2.0.0) of the plugin you can.

Simply run:

`nx g @nxrocks/nx-spring-boot my-boot-lib` and choose `Library` when prompted for the type of project

You can also directly run:

`nx g @nxrocks/nx-spring-boot my-boot-lib --library`

[2021-06-02 04:35] #65 closed

[2021-06-02 13:27] andre-silvakmm commented on #65
Sorry for reopen the question but, I already have the lib and already have the application in the workspace, I'm wondering in how to use that lib in the workspace application similarly in the way of angular lib of nx workspace, is that possible, or I have to local map that lib with maven?

[2021-06-02 13:47] tinesoft commented on #65
I'm not sure I follow you... just add the dependency of your library in the `pom.xml` (or `build.gradle`) of the application that needs it, just as a regular maven/gradle project.

[2021-06-02 14:07] andre-silvakmm commented on #65
I have added in the pom.xml, but it was not found by maven.
It gives me erro when I try to run.

[2021-06-02 14:29] tinesoft commented on #65
As your library is not published yet, you have to locally install it so it can be visible by your app.
You must run `mvn install` from the library root folder to do so.

[2021-06-02 14:32] andre-silvakmm commented on #65
Perfect, works like a charm.
Thnx for you time.

[2021-06-02 14:58] tinesoft opened #66 "[Feature] [nx-spring-boot] Auto-install libraries when running build or serve commands on the dependent application"
**Is your feature request related to a problem? Please describe.**

When creating a Spring boot application and a library within the workspace, the library is not locally installed prior to running commands on the dependent app.
This causes an error because of the dependency (library) not being found locally.

**Describe the idea you'd like**

We could leverage the dependency graph and Nx's [task

[2021-06-02 14:59] tinesoft commented on #65
No problem!

I will look into a way to automate this, i.e auto-install dependencies (libraries) of a Spring Boot app inside the workspace when running|building the app itself via `nx serve your-boot-app`.
I've created https://github.com/tinesoft/nxrocks/issues/66 to track that

[2021-06-02 20:53] tinesoft opened #67 "[Bug] [nx-spring-boot] Jar of library projects should not be executable"
**Is your feature request related to a problem? Please describe.**

Currently, when building the Jar of a Spring boot project of type `Library`, the resulting jar is executable (default behavior). This is useless, as that jar is not meant to be executed, but simply added as dependency to other (application) projects.

**Describe the idea you'd like**

After generation:

- for a Maven-based project

[2021-07-07 12:22] WtfJoke opened #68 "[Bug] nx print-affected logs debug message which results to a non parseable json"
Plugin Name and Version:
nx-spring-boot@2.1.0

Nx Version (`nx --version`):

12.5.6

Angular CLI version (`ng --version`):

#### Expected Behaviour

When I run `nx print-affected --base HEAD~1 --target deploy`  I expect a json parseable output.

Like:
[code]

#### Actual Behaviour

When I run `nx print-affected --base HEAD~1 --target deploy`  I get:
[code]

#### Steps to reproduce the behaviour

1

[2021-07-19 11:21] while1618 commented on #65
Are there any examples of how apps and libs work together in nx-spring-boot?

I don't see the point of libs right now, it's like a separated app. In my case, I have an app with the following packages: "admin, auth, user, shared". I want to divide them into separated libs and use them in the app, but I can't find a way in doing that. I can't even import the class from lib to app.

Also, is there a

[2021-07-20 08:11] while1618 opened #71 "[Question] Spring Boot app and lib usage"
Are there any examples of how apps and libs work together in nx-spring-boot?

I don't see the point of libs right now, it's like a separated app. In my case, I have an app with the following packages: "admin, auth, user, shared". I want to divide them into separated libs and use them in the app, but I can't find a way in doing that. I can't even import the class from lib to app.

Also, is there a

[2021-07-24 23:29] liamhilliard opened #72 "[Bug] getProjectGraph renamed in nx devkit 12.6.x breaks builds"
nx-spring-boot: ^2.1.0
nx: 12.6.2

Hi,

I created a new workspace with NX 12.6.2 (latest) and then used nx-spring-boot to try and build the project, but get the following error:

[code]

It appears nx changed the API for ProjectGraphBuilder in the latest version. You can see the 12.5.x version [here](https://github.com/nrwl/nx/blob/12.5.x/packages/devkit/src/project-graph/utils.ts) with `getProjec

[2021-07-25 16:20] tinesoft commented on #72
Hi @liamhilliard

Thanks for using the plugin, and for bringing that issue to me.

I'll have a look asap and provide a fix.

Stay tuned!

[2021-08-05 17:09] AgentEnder commented on #72
@tinesoft Here is what the fix in nx-dotnet looked like for the same issue. https://github.com/nx-dotnet/nx-dotnet/commit/2e56afc9b46e11ad1fb1ef5ea7767e1923fac0a0#diff-73afab7c3c81f25ec5c6d4f68d26d30fa1fa07ad3671251a93f626731c3d5129

[2021-08-12 06:42] tinesoft commented on #68
Hi @WtfJoke,

Sorry for the delay in responding.
I agree the logs are not really relevant and should be removed (or at least wrap under a "verbose" option).
Will do that in the upcoming release of the plugin.
Stay tuned!

[2021-08-12 13:40] WtfJoke commented on #68
Hi @tinesoft

Thanks! Our CI will thank you too :D
Looking forward to the upcoming release

[2021-08-12 17:01] #68 closed

[2021-08-16 09:20] oguera commented on #72
Hey @tinesoft,
thanks for the quick fix. Would it be possible that you release a patch release for the npm package? The issue is fixed on develop and the docs are adjusted but there is "still" the old package in npm. If there is a schedule for releases i can easily downgrade nx.

Thanks :)

[2021-08-16 09:35] tinesoft commented on #72
Hi @oguera

A release is coming up very soon (hopefully today or tomorrow) .

I will be  a "major" and not simply a patch release, as it requires an update to Nx v.12.6.x at least (in fact, the bug was due to a breaking change in Nx's DevKit Project Graph API, introduced since v12.6.0).

I have shipped a bunch of nice feats and fixes as well 😇.

You' be notified here as soon as the release is publ

[2021-08-17 23:10] #67 closed

[2021-08-21 16:21] tinesoft commented on #71
Hi @while1618,

Sorry for the late answer.

The idea of `library` projects was to allow reusing them in your boot `applications` (by adding the dependency in `applications` `build.gradle` or `pom.xml`).
They are not meant to be executable like boot jars (I recently enhanced that with #75, based on this [guide on spring.io](https://spring.io/guides/gs/multi-module/#initial)). Just like they don't n

[2021-09-09 17:15] khalilou88 commented on #40
Hello, there is this solution too https://github.com/jhipster/prettier-java

[2021-09-17 16:25] tinesoft commented on #40
Hi @khalilou88

Thanks for your link. But I think I've come across a more robust/complete  alternative: https://github.com/diffplug/spotless !

- It support Java, Kotlin, Groovy languages out-of-the-box
- It has maven AND gradle plugins

So all requirements of a Spring Boot project are met at this point!
Plus,

- It is highly customizable
- It is actively maintained and has a large community
- and

[2021-10-03 08:20] tinesoft opened #78 "[Feature] Convert current issue templates into issue forms"
Github introduced **Issue Forms** a moment ago (still in beta though).
It is a better alternative to  static **Issue Templates** (in Markdown), as they
allow to better describe and above all, validate the information that must/should be provided when creating an new bug report or feature request.

Please convert the current templates under `.github/ISSUE_TEMPLATE/*` into this new format (YAML).

T

[2021-10-03 10:16] aneeshrelan commented on #78
Hey, can I take a shot at this?

[2021-10-03 11:07] tinesoft commented on #78
Hi @aneeshrelan

Sure! Please be my guest!

And thanks for helping out 😊

[2021-10-03 19:06] #78 closed

[2021-10-05 08:42] vanbujm opened #81 "[Feature] [nx-spring-boot] Support for non-standard parents and for a parent pom.xml"
I'd like to first thank you for this plugin! I am really excited to be using it to create a monorepo that can do both js/ts AND java-spring. 🥳

### Is your feature request related to a problem? Please describe

My individual spring applications/libraries must separately state their dependencies even if they have common deps.

### Describe the idea you'd like

I would like to be able to have a `pom

[2021-10-07 04:06] vanbujm commented on #81
[PR is up](https://github.com/tinesoft/nxrocks/pull/82)

[2021-11-25 08:05] ZaLiTHkA commented on #43
I discovered this Nx plugin the other day, only got to play with it now though.. experiencing the same issue here with two Spring web app projects: one intended as a "standalone" `jar`, another as a "deployable" `war`.

searching for more info on the core error message, I noticed [a comment](https://github.com/spring-projects/spring-boot/issues/22317#issuecomment-657650216) from @wilkinsona (Sprin

[2021-11-28 20:43] tinesoft commented on #43
Hi @ZaLiTHkA

Thanks for using the plugin and for your interest, I'm glad it is useful to you 😇

The reason why I chose the `repackage` goal, was because it is present in both `maven`and `gradle` plugins for Spring Boot, whereas the default `package` goal only exists for Maven.
Besides, the [documentation](https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#packaging

[2021-11-29 09:21] ZaLiTHkA commented on #43
thanks @tinesoft, that all sounds pretty awesome.. I must say, I was "thinking out loud" there more than anything else. my personal experience is quite limited with Maven and Gradle, mostly just from tweaking generated build files.

in my mind, the idea of keeping a Java-powered API, a JS-powered static site, and [insert favourite project here] in a single monorepo, with the ability to control the

[2021-12-20 23:13] jyotibhangale opened #84 "when monorepo library dependency added to application's pom file, it throws error"
### Plugin Name

@nxrocks/nx-quarkus

### Plugin Version

v.2.0.0

### Nx Version

13.3.0

### Expected Behaviour

show dependency graph between library and apps without any error.

### Actual Behaviour

I have a java-api-lib in mono-repo under libs/api, I am adding maven dependency for it in my application's pom file which is under apps/services/kogito-validator.

When I run nx dep-graph, it thro

[2022-01-07 22:39] tinesoft commented on #84
Hi @jyotibhangale

For using the plugin and for reporting the issue.
I will have a look asap.

[2022-01-07 23:18] #43 closed

[2022-01-10 22:36] jyotibhangale commented on #84
Hi,
Right, we don't have application and libraries directly  under app/, lib/. We have subfolders within it and apps and libs goes under it.
So I was doing little more debugging on this and found that it's just path separator causing problem. In my case I am running it on windows: and path for pom is this apps\services\kogito-validator\pom.xml but plugin actually verifies it with path
apps/service

[2022-01-12 22:25] jyotibhangale commented on #84
Hi @tinesoft ,

I see that with latest code changes, I don't see this particular issue, do I need to get latest plugin build in order to fix it for me?

[2022-01-30 15:15] ZdenekMerta commented on #65
It would be useful to add the same feature to `nx-quarkus` package.

[2022-02-08 13:26] sidyes opened #89 "Release including the buildJar/buildWar to build change"
### Is your feature request related to a problem? Please describe

At the moment I cannot use the `buildJar` target as I need the `package` mvn command to be run first (cf. #43).

### Describe the idea you'd like

Could you release the current development branch please?

### Describe alternatives you've considered

Implementing my own targets which would be not necessary.

### Additional context

[2022-02-08 18:19] tinesoft commented on #89
Hi @sidyes

Thanks for your interest in the plugin!

The next release is coming very soon 🙂.
I want to include a couple of long-awaited features along with it.

The dev are being finalized, this shouldn't take much long now.

Stay tuned !

[2022-02-14 07:45] tinesoft commented on #89
released in https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv4.0.0

[2022-02-14 07:45] #89 closed

[2022-02-14 07:46] tinesoft commented on #84
Seems fixed by https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv4.0.0

[2022-02-14 07:46] #84 closed

[2022-02-15 06:54] sidyes opened #95 "4.0.0 release not working // npm i fails"
Unfortunately, it is not working. `npm i @nxrocks/nx-spring-boot` leads to the following error message:

[code]

Can you please fix that?

_Originally posted by @sidyes in https://github.com/tinesoft/nxrocks/issues/89#issuecomment-1039014741_

[2022-02-16 19:15] ctientcheu opened #96 "[Bug] unable to install plugin with npm i @nxrocks/nx-quarkus --save-dev"
### Plugin Name

@nxrocks/nx-quarkus

### Plugin Version

v2.1.1

### Nx Version

13.8.1

### Expected Behaviour

the plugin package to be installed

### Actual Behaviour

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @nxrocks/common@0.0.0-development.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doe

[2022-02-16 20:34] tinesoft commented on #96
This should now be fixed by https://github.com/tinesoft/nxrocks/releases/tag/nx-quarkus%2Fv2.1.2
Please try again, and feel free to re-open if still having the issue

[2022-02-16 20:34] #96 closed

[2022-02-16 20:35] tinesoft commented on #95
Hi @sidyes

Thanks for reporting. This should now be fixed by https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv4.0.2

Please try again, and feel free to re-open if still having the issue

[2022-02-16 20:35] #95 closed

[2022-02-16 20:41] tinesoft commented on #40
Hi guys,

Quick follow up, to let you know that **formatting of your spring-boot projects** has just landed in latest release of `nx-spring-boot` https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv4.0.0 🎉 (well `v4.0.2` to be exact)

The feature is implemented  with Spotless (as described above) and works for Gradle/Maven  Java/Kotlin/Groovy based projects.

Enjoy and let me know i

[2022-02-16 20:41] #40 closed

[2022-02-28 22:04] rsvoboda opened #97 "[Bug] [nx-quarkus] `Premature close` when generating project"
### Plugin Name

@nxrocks/nx-quarkus

### Plugin Version

2.1.2

### Nx Version

13.8.3

### Expected Behaviour

`nx g @nxrocks/nx-quarkus:new abc` ends without error, app gets generated

### Actual Behaviour

`nx g @nxrocks/nx-quarkus:new abc` ends with error

### Steps to reproduce the behaviour

Follow https://github.com/tinesoft/nxrocks/tree/develop/packages/nx-quarkus#getting-started

I can g

[2022-03-02 06:12] tinesoft commented on #97
Hi @rsvoboda ,

Thanks for using the  plugin and for reporting this. I'll look into it asap

[2022-03-02 23:11] loic-roux-404 commented on #97
same issue with spring

Zip stream aren't closed correctly i think https://stackoverflow.com/questions/55959479/error-err-stream-premature-close-premature-close-in-node-pipeline-stream

[2022-03-03 08:04] tinesoft commented on #97
Thanks for your comment @loic-roux-404 , it seems related to https://github.com/ZJONSSON/node-unzipper/issues/228 ( I use that library `Unzipper` internally, to do the unzipping).

I will search for a proper fix or a workaround.

[2022-03-03 09:15] rsvoboda commented on #97
`node -v` gives v17.4.0

[2022-03-03 10:10] tinesoft commented on #97
Thanks for the confirmation. That will  help narrowing where to look for for a possible fix.

[2022-03-04 09:27] vladimirdrayling opened #98 "cannot create project"
I'm generating the project with VSCode nx console and getting following error:

[code]

If I set the `javaVersion` to default value `11` I'm getting following error:

[code]

### nx report

[code]

What am I doing wrong?

Thank you for the help!

[2022-03-09 07:28] tinesoft commented on #98
Hi @vladimirdrayling

Thanks for using the plugin and for reporting the issue.

Quick question: does the generation work properly **outside of NX console** ? (i.e when running via the  command line `nx g @nxrocks/nx-spring-boot:new <your-app-name> )

[2022-03-09 07:53] vladimirdrayling commented on #98
Hi @tinesoft, the generation works fine outside of vscode nx console

[2022-03-09 07:57] tinesoft commented on #98
Hi @vladimirdrayling

Ok, now try running the following variant please, and let me know if it still works :

 `nx g @nxrocks/nx-spring-boot:new <your-app-name> --javaVersion='17')

[2022-03-09 10:04] vladimirdrayling commented on #98
Unfortunately it didn't work.

### Terminal output

[code]

[2022-03-09 12:45] tinesoft commented on #98
Ok thanks for the confirmation, I can indeed reproduce it with a e2e test.
That should help in fixing the bug...

I'll keep you posted.

[2022-03-12 17:43] mtivi commented on #81
Any chance the pr can be looked at @tinesoft ?
Without the ability to define a parent POM (other than spring boot directly), we cannot define common behavior.

I would like to extend the spring boot parent, defining my own `distributionManagement`, `repositories`, and `pluginManagement`

[2022-03-14 16:51] #98 closed

[2022-03-16 19:01] tinesoft commented on #97
Hi,

I'm still investigating on how to solve this  issue... In the meantime, sticking to Nodejs LTS (v16 at the time) , if possible, should avoid the error to happen.

[2022-03-23 16:40] ProfEibe opened #102 "[Bug] The string contains invalid characters. when extracting Spring Boot project"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

v4.0.2

### Nx Version

12.10.1

### Expected Behaviour

creating SpringBoot Project

### Actual Behaviour

[code]

### Steps to reproduce the behaviour

When generating a new project I get the error above while downloading and extracting from start.spring.io

[2022-03-25 06:00] tinesoft commented on #102
Hi @ProfEibe ,

Thanks for using the plugin, and reporting the issue.
Can you please, provide all the parameters you set when generating the app? (i.e application name, build type,  java version, etc)

[2022-03-25 10:29] ProfEibe commented on #102
This is the whole part in the console:

[code]

[2022-03-27 06:10] tinesoft commented on #102
Thanks for the detailed log output.
Unfortunately, I cannot reproduce the issue with the parameters you provided...

Could you try generating an app without changing the default parameters of the generator (i.e by just pressing "Enter" at each prompt)? Also, what version of NodeJS are you using? (`node --version`)

[2022-03-27 18:57] ProfEibe commented on #102
Hm sadly the same problem.
Maybe it is, because the generated springboot-app would be the first in this repository?
Because creating one in an nx-workspace where already an angular-app exists is working without any error. But in an empty nx-workspace I get this error.

Node-Version is 16.14.2

[2022-03-27 22:00] tinesoft commented on #102
I've just noticed you are using a version of Nx (v12) which is not compatible with current version of the nx-spring-boot plugin (v4).  See [compatibility matrix](https://github.com/tinesoft/nxrocks/blob/develop/packages/nx-spring-boot/README.md#compatibility-with-nx)

Please update your Nx workspace and try again.

Closing the issue for now.

[2022-03-27 22:00] #102 closed

[2022-03-28 07:02] ProfEibe commented on #102
Oh... I'm sorry for bothering you. Should have seen this myself.
Maybe someone could build in a check with an speaking error message for this, but it was clearly my fault this time.

Thanks for your support.

[2022-04-05 15:03] nerddigestive opened #105 "[Bug] ERROR: Something went wrong in @nrwl/run-commands - Command failed: flutter install"
### Plugin Name

@nxrocks/nx-flutter

### Plugin Version

v3.0.2

### Nx Version

13.9.6

### Expected Behaviour

Commands such as `nx run myapp:build` run (as when run manually) and produce output.

### Actual Behaviour

All flutter commands run using `run-commands` throw the following error, with no further output:

`ERROR: Something went wrong in @nrwl/run-commands - Command failed: flutter ins

[2022-05-13 03:16] rubiagatra opened #106 "[Bug] Using Latest Nx (14.1.4) make our ci braks"
### Plugin Name

@nxrocks/nx-flutter

### Plugin Version

3.0.2

### Nx Version

14.1.4

### Expected Behaviour

Run yarn / npm install smoothly

### Actual Behaviour

Reference https://github.com/nrwl/nx/issues/10222

Our CI looks like this when installing
[code]

Temporary Solution and it works

[code]

  cc: @tinesoft I can help you to update Nx deps if needed

### Steps to reproduce the behavi

[2022-05-18 09:47] oguera commented on #106
I saw the same happening in a project of mine when i migrated from nx 13.9 -> 14.X. Unfortunately this nx plugin defines the dependency to nx as `*`. In my case this led to the behavior that in my yarn.lock i had nx 13.9 defined for this plugin and 14.x defined for everything else. You could verify this by using `yarn why nx`.

I could fix this by (ugly) regenerating the yarn.lock file..

[2022-05-18 09:59] tinesoft commented on #106
Hi Guys,

Thanks for using the plugin and for reporting the issue.

I will update it to be compatible with Nx 14. Stay tuned!

[2022-05-18 10:01] oguera commented on #106
@tinesoft it is actually compatible with nx 14 - it's just that yarn doesn't update the dependency for this plugin when migrating. :+1:

[2022-05-21 07:12] iangregsondev opened #107 "Flutter supported the affected commands of NX ?"
Hi,

Great package!

Does this plugin take into consideration what app / packages have changed and it can build ONLY them ?

i..e If I have 2 libraries and 1 app and only the first library changed then it would only build that library and the main app as it depends on it.. but would not build library 2

Thanks

[2022-05-22 10:49] tinesoft commented on #107
Hi @iangregsondev

Thanks for your interest in the plugin!
Support for Nx`s `affected` commands has landed with [v2.1.0]( [nx-flutter/v2.1.0](https://github.com/tinesoft/nxrocks/releases/tag/nx-flutter%2Fv2.1.0)) of the plugin, thanks to the dependency graph API.
So it should work out-of-the-box.

Are you facing a particular issue?

[2022-05-22 14:30] iangregsondev commented on #107
Great stuff. Thanks.

[2022-05-22 14:30] #107 closed

[2022-06-18 18:16] #97 closed

[2022-06-25 00:46] tschaffter commented on #71
Hi @tinesoft ,

Thanks to [your comment](https://github.com/tinesoft/nxrocks/issues/65#issuecomment-853077194), I was able to create a "@nxrocks/nx-spring-boot" library and import it in an app. I updated the `build` target of the lib with the additional argument `install`.

[code]

Currently the library is installed in the directory `~/.m2/repository`. One improvement I'm seeking to make is to ins

[2022-06-26 16:58] tschaffter opened #111 "[Bug] Nx fails to cache all the logs generated by @nxrocks/nx-spring-boot"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

4.1.0

### Nx Version

13.8.1

### Expected Behaviour

Running an nx-cacheable task twice should render the same logs in the terminal when using the executor `@nxrocks/nx-spring-boot:*`.

### Actual Behaviour

Logs generated by `@nxrocks/nx-spring-boot:build` are not cached.

### Steps to reproduce the behaviour

## Using the executor `

[2022-06-26 17:32] tinesoft commented on #111
Hi @tschaffter

Thanks for using the plugin and for reporting the issue!

I noticed something similar (build not being cached) live during a talk... but back then, I thought it was a just "demo effect"...

Anyway, can you share your `nx.json` and `project.json` please?

[2022-06-26 17:50] tschaffter commented on #111
- https://github.com/Sage-Bionetworks/challenge-registry/blob/main/nx.json
- [Spring Boot Library project,json](https://github.com/Sage-Bionetworks/challenge-registry/tree/main/libs/shared/data-access-java)
- [Spring Boot App project.json](https://github.com/Sage-Bionetworks/challenge-registry/blob/main/apps/challenge-core-service/project.json)

[2022-06-26 18:04] tschaffter commented on #71
After give it more thought, it's preferable to keep installing Maven packages to the default location (e.g. `~/.m2/repository`) to keep the environment as standard as possible. This means that the "install" operation should not be part of a nx-cacheable task like "build" because Nx is not caching `~/.m2/repository`.

Here is the solution I came up with:

1. Add an "install" task to the library pro

[2022-06-26 21:34] tinesoft commented on #71
Hi @tschaffter

Sorry, I didn't get to you sooner...

Indeed, the packages will always be installed in the default location (e.g. `~/.m2/repository`).
this is what Maven does by default, and there is no need to change it for the Nx caching to work.
(the cache not working right now, is another issue that you spotted in https://github.com/tinesoft/nxrocks/issues/111, I will fix that)

As for your ap

[2022-06-27 13:58] tschaffter opened #112 "[Feature] Add Nx target to lint code with Checkstyle"
### Is your feature request related to a problem? Please describe

This feature is not related to a problem.

### Describe the idea you'd like

[Checkstyle](https://checkstyle.sourceforge.io/) is a widely adopted solution to lint Java code. It is part of the Maven CLI and can be executed with `mvn checkstyle:check` or `./mvnw checkstyle:check`. I'm currently integrating Checkstyle to my Nx workspa

[2022-06-28 22:09] tschaffter commented on #112
Hi @tinesoft,

I appreciate how your plugin helped me to start developing Spring Boot apps inside with Nx. :-)

I will play with Spotless and let you know. Right now I'm battling an issue related to importing a lib in an app (see upcoming comment to #71).

[2022-06-28 22:23] tschaffter commented on #71
Hi @tinesoft

I want to propose a different strategy for installing a library so that it can be imported in an app. The motivation is to enable the app to be dockerized. Dockerizing the app when the library is installed to the local repository (`~/.m2/repository`) is not possible in a simple way. Instead, the strategy I'm exploring is to copy the jar library to the app folder when running the `ins

[2022-06-28 23:50] tschaffter opened #113 "[Bug] Do not configure Maven to build an executable jar when generating a library"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

4.1.0

### Nx Version

14.3.6

### Expected Behaviour

The app should successfully find and use a Spring Boot library generated with this plugin.

### Actual Behaviour

The `pom.xml` file generated by this plugin includes the following snippet:

[code]

This snippet prevents the library from being consumed by an application that imports

[2022-06-28 23:52] tschaffter commented on #71
I found the solution to the above issue, see #113.

[2022-06-29 14:42] tschaffter commented on #113
Here is a screencast to illustrate the issue:

![Recording 2022-06-29 at 07 41 36](https://user-images.githubusercontent.com/3056480/176465339-883d62f9-51cf-4d49-b753-cffcb08b1e32.gif)

I'm using the version 4.1.0 of the plugin in [this repo](https://github.com/tschaffter/nx-spring-boot-example).

[code]

[2022-06-29 20:49] tinesoft commented on #113
Thanks for the confirmation @tschaffter .

This is indeed a bug (in maven-based library projects): the way the removal of the plugin might be flawn.

This should be quick to fix, stay tuned!

[2022-06-29 20:54] #112 closed

[2022-06-29 21:00] tinesoft commented on #106
What do you mean?
do you expect Nx to automatically migrate this plugin as well when performing `nx migrate`?

If so, that is not possible. Nx only migrates its  "core" plugins (those in `@nrwl/*`), not third-party plugins like mine.

[2022-07-03 07:01] #113 closed

[2022-07-11 04:35] tinesoft commented on #71
Note that [Spring-boot has built-in support for generating an optimised `Dockerfile` ](https://spring.io/guides/gs/spring-boot-docker/) to package and run the application.
This is supported by the plugin  as well, via the command `nx buildImage bootapp`, so I would recommend to use that instead.

Your can customise some options of that command (like setting the docker Image name for e.g) by adding

[2022-07-11 21:22] tschaffter commented on #71
Thanks for pointing out the executor `@nxrocks/nx-spring-boot:buildImage`. I can confirm that using it to build an image of a Spring app that depends on a local library installed in `~/.m2/repositories` works (as described in this [comment](https://github.com/tinesoft/nxrocks/issues/71#issuecomment-1166603350)).

[2022-07-11 21:28] tschaffter opened #117 "Use kebab-case for all targets offered by this plugin"
### Is your feature request related to a problem? Please describe

No

### Describe the idea you'd like

The name of all the targets listed in the `project.json` generated by this Nx plugin should consistently use the same casing. Here are two example of targets that use different casing:

- `format-check` (kebab case)
- `buildImage` (lower camel case)

### Describe alternatives you've considered

[2022-07-20 09:23] tinesoft commented on #117
Hi @tschaffter

It makes sense. I will update

[2022-07-21 18:02] #117 closed

[2022-07-21 18:53] tschaffter commented on #117
Thanks!

[2022-07-29 09:17] tinesoft commented on #105
Hi @nerddigestive

Thanks for using the plugin and for reporting the issue. Unfortunately i cannot reproduce it...
Can you share a repro project ?

Thanks

[2022-08-01 17:11] tschaffter opened #123 "[Bug] Maven commands fail randomly in CI/CD workflow"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

4.1.0

### Nx Version

14.4.3

### Expected Behaviour

`./mvnw` commands should successfully completes on first execution.

### Actual Behaviour

This project provides the script `./mvnw` to run maven commands when executing project targets (e.g. `nx build <project>`). In my main CI/CD workflow (GH Action), the execution of targets that

[2022-08-01 19:56] tinesoft commented on #123
Hi @tschaffter

No I haven't. sorry

I would say so too, yes.  It has nothing to do with the plugin per se, but rather in the concurrent capabilities of the projects that were ran.

Yes that would be a good test indeed. You could also try to pinpoint from the `nx affected` command output, which ones of your projects were actually built and try to restrict the scope to these specific projects.
Then

[2022-08-05 21:53] tinesoft commented on #46
Closed by #124

[2022-08-05 21:53] #46 closed

[2022-08-05 22:07] tinesoft commented on #53
Fixed since https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv4.0.0

[2022-08-05 22:07] #53 closed

[2022-08-07 03:44] tschaffter commented on #123
I spent some time exploring the issue and came up with the solution. The issue stems from the fact that concurrent executions of Maven is not safe. For example, two or more concurrent executions of Maven may attempt to download the same dependency at the same time and save it into `~/.m2/repository`, which I've seen resulting in errors (`Issue A`).

A similar error occurs when multiple project tar

[2022-08-11 20:06] tinesoft commented on #123
Hi Thomas,

Thanks for your continuing interest in the plugin and for sharing the result of your investigation in such an exhaustive way!
The issues you create on my repo are always very well detailed, for that, I officially name you, my **"n°1 issue reporter"** !

I will look into a way to implement (and document) your workaround, with:
- a new `go-offline` executor (that will download everything

[2022-08-12 04:56] nosaku opened #125 "ETIMEDOUT - https://start.spring.io/starter.zip - behind corporate proxy"
nx g @nxrocks/nx-spring-boot:new is failing when running behind corporate proxy server. It ignore http_proxy and https_proxy settings most probably because it is using node fetch internally. Without going via proxy there is no way to use this plugin in corporate environments.

ETIMEDOUT - https://start.spring.io/starter.zip

[2022-08-13 16:08] nosaku commented on #125
Does it work if you use,  node-fetch-with-proxy?

[2022-08-14 22:33] tinesoft commented on #125
Hi @nosaku

Thanks for using the plugin and for reporting the issue.
Indeed, this plugin uses `node-fetch`, and so has no built-in support for proxies.

This is a valid use case though, so I will start working on adding this feature.

It would, but I prefer this other package instead: [hpagent](https://github.com/delvedor/hpagent) (more powerful/modern implementation)

I will start the implementat

[2022-08-15 15:06] nosaku commented on #125
Hi @tinesoft,

I didn't try node-fetch-with-proxy but I think your preference of hpagent makes sense. I shall wait for the update. Thank you.

[2022-08-15 15:41] tschaffter opened #126 "[Bug] Target `build` generated by `@nxrocks/nx-spring-boot:new` should cache the build artifacts"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

v4.1.0

### Nx Version

14.5.4

### Expected Behaviour

By default, the target `build` of a project is one of the target whose output artifacts are cached.

`nx.json`:

[code]

Below is the target `build` generated by the plugin:

[code]

The artifacts generated by this task when using Maven are saved to the folder `target`. Here is the

[2022-08-15 17:21] tinesoft commented on #126
Hi Thomas!

Thanks for reporting this improvement, but I've already beaten you to it this time, ah ah  :-)

It was implemented in https://github.com/tinesoft/nxrocks/commit/45287156e1c85f29b27edb53d8fb14ad04a74ecc that will be released very soon ;-)

Stay tuned!

[2022-08-15 17:25] tschaffter commented on #126
Awesome, thanks!

[2022-08-15 17:27] #126 closed

[2022-08-17 11:14] #125 closed

[2022-08-18 19:19] #5 closed

[2022-08-21 18:28] #71 closed

[2022-08-21 18:28] #66 closed

[2022-08-22 00:46] tschaffter opened #128 "[Bug] `nx affected:lint` throws `Cannot find module 'hpagent'` after updating to v5.0.0 of the plugin"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

5.0.0

### Nx Version

14.5.4

### Expected Behaviour

The command `nx affected:lint` should work fine.

### Actual Behaviour

[code]

The plugin was installed in two ways, each of them leading to this issue:

- Upgrading the plugin: `yarn upgrade --latest @nxrocks/nx-spring-boot`
- Remove and add again the plugin

I noticed that the co

[2022-08-22 08:47] tinesoft commented on #111
Hi @tschaffter
Can you update to https://github.com/tinesoft/nxrocks/releases/tag/nx-spring-boot%2Fv5.0.0 and tell me if you're still having this issue?

[2022-08-22 12:15] tinesoft commented on #128
Thanks for reporting the issue @tschaffter.
It's weird that my smoke tests didn't catch that...
I will provide a fix asap...

[2022-08-22 13:41] tinesoft commented on #128
Out of curiosity,

- does running `nx build` command instead work? (this is what I do during the smoke tests)
- are you connected to a proxy server  or have env variable `http_proxy` or `https_proxy` (upper or lowercase) set ?

Thanks

[2022-08-22 19:36] tschaffter commented on #128
Yes, the issue is also triggered when running `build` tasks:

[code]

I'm working in a VS Code dev container running on a remote host (AWS EC2).

[code]

[2022-08-22 19:38] tschaffter commented on #111
Sure! I will test that once the issue affecting v5.0.0 is fixed.

[2022-08-22 21:20] tinesoft commented on #128
Thanks for the confirmation Thomas.

I've found the issue (`hpagent` was declared as a `peerDependencies` instead of a `dependencies`).
The fix is quick easy. I just didn't understand why my dedicated [smoke test](https://github.com/tinesoft/nxrocks/blob/07eb0558546498c4ac8001e2d2fe0150cd689811/e2e/smoke/tests/smoke.test.ts#L137) didn't catch this...
But I've found my answer, the tests are base on

[2022-08-22 21:28] #128 closed

[2022-08-22 23:47] tschaffter commented on #111
@tinesoft The issue is still there. The first command below shows the output of a build. The second command does the same but uses nx cache and the terminal output is not printed.

[code]

[2022-08-22 23:49] tschaffter commented on #111
Do you know whether it's an Nx issue or if it's a plugin issue, for example the plugin may print terminal output in a way that prevent Nx from caching it?

[2022-08-23 05:08] tinesoft commented on #111
It's hard to tell...

- Running a `nx build` command  on a **pristine** generated Spring-Boot application on Nx workspace < 14 used to work fine
- Running the same command on Nx workspace >=14 has the issue... BUT sometimes it works fine too !
- Currently, running the command on latest version of the plugin (v5.0.1), in a `bash` terminal within VSCode works fine.

It looks like there is something

[2022-08-23 15:04] tschaffter commented on #111
- VS Code terminal v1.70.2
- Debian dev container

[code]

- `/bin/bash` shell

[2022-08-25 21:25] tinesoft commented on #111
Ok, I will fork your repo. and try to debug/reproduce from there

[2022-08-25 22:44] #111 closed

[2022-08-26 10:00] tinesoft commented on #111
FYI, as I suspected, that option did the trick:

[2022-08-26 17:33] tschaffter commented on #111
I confirm that upgrading to the latest release of the plugin fixes the issue for tasks executed with Maven and Gradle.

[2022-09-05 04:03] rubiagatra opened #131 "[Bug] Cannot install @nxrocks/nx-flutter in PNPM"
### Plugin Name

@nxrocks/nx-flutter

### Plugin Version

4.0.2

### Nx Version

14.6.4

### Expected Behaviour

Install latest nx-flutter with no problems

### Actual Behaviour

[code]

### Steps to reproduce the behaviour

1. Create new workspace `pnpm create nx-workspace`
2. `pnpm add -D @nxrocks/nx-flutter@4.0.2`

[2022-09-23 07:49] JonathanGeoffroy opened #134 "[Bug] Unable to generate micronaut app without feature"
### Plugin Name

@nxrocks/nx-micronaut

### Plugin Version

1.0.2

### Nx Version

14.7.11

### Expected Behaviour

User should be able to create a micronaut application without feature

### Actual Behaviour

Generation crashes with a HTTP 400 error :

[code]

This is probably due to the empty `feature` parameter as :

-  `https://launch.micronaut.io/create/default/com.example.test?javaVersion=JDK

[2022-09-23 07:57] JonathanGeoffroy opened #135 "[Bug] Unable to generate micronaut app with JDK_16"
### Plugin Name

@nxrocks/nx-micronaut

### Plugin Version

1.0.2

### Nx Version

14.7.11

### Expected Behaviour

User should be able to generate a micronaut app with any suggested JDK

### Actual Behaviour

the generation crashes if user selects JDK_16 in the CLI :

[code]

It's probably due to the fact micronaut generator doesn't offer JDK_16 anymore.

- https://launch.micronaut.io/create/defa

[2022-09-24 11:16] JonathanGeoffroy commented on #135
I'm reading some code and I think I'll be able to make a simple PR, i you don't mind.

My concern on this particular issue is: should we still manually maintain a list of available JDK ?
My guess is micronaut might drop another JDK in the future, in such case this bug will appears again.
Any suggestion on how we should address this ?

[2022-10-01 07:32] tinesoft commented on #134
Closed by #136

[2022-10-01 07:32] #134 closed

[2022-10-01 08:17] tinesoft commented on #135
Hi @JonathanGeoffroy

Thanks for reporting this issue.
I wasn't aware that using an obsolete JDK version would break the generator...

The list of JDKs presented during the generation is to provide convenience to the users during the process.
Having a "freetext" zone instead, will not be very user-friendly, and might lead to same issue if provided value does not match any supported JDK either...

[2022-10-01 14:48] JonathanGeoffroy commented on #135
Hi @tinesoft, thanks for you reply and your suggestions.
The way you suggest this bug seems simple enough, I'll make a PR ASAP.

Thank you again :)

[2022-10-01 17:16] #135 closed

[2022-10-04 18:50] tinesoft commented on #131
Hi @rubiagatra
Thanks for reporting this.
Under investigation on https://github.com/tinesoft/nxrocks/tree/fix/flutter-pnpm...

[2022-10-05 12:35] tinesoft commented on #131
In the meantime, creating a `.npmrc` file in the root of your workspace, with `strict-peer-dependencies` set to `false` can help.

See https://pnpm.io/npmrc#strict-peer-dependencies for more info

[2022-10-16 19:17] pauli2406 opened #138 "[Bug] Issue with nx v15"
### Plugin Name

@nxrocks/nx-flutter

### Plugin Version

^4.0.2

### Nx Version

15.0.0

### Expected Behaviour

Serve command should work and start an app

### Actual Behaviour

Currently no app that exists in a nx workspace can be compiled or run as soon as this plugin is part of the workspace.

This even applies to apps that do not even use this plugin and are only angular.

[code]

### Steps

[2022-10-16 20:19] tinesoft commented on #138
Hi @pauli2406

Thanks for using the plugin and for reporting this.
A fix is underway. Stay tuned!

[2022-10-16 22:31] #138 closed

[2022-10-23 09:19] tinesoft commented on #105
Closing for now, feel free to re-open (with repo project if possible) if the issue still occurs

[2022-10-23 09:19] #105 closed

[2022-10-24 12:53] virginiarcruz opened #140 "[Feature/suggestion] @nxrocks/nx-flutter:bootstrap - link local packages"
### Is your feature request related to a problem? Please describe

There's something on @nx-flutter, similar to `lerna bootstrap` for managing dependencies and linking local packages?
For example, the command would locally link packages via path dependency overrides without needing to edit **pubspec.yaml**.

Speaking of flutter, it would be something similar to what [Melos does](https://melos.inve

[2022-10-25 19:36] tinesoft commented on #140
Hi @virginiarcruz

Thanks for using the plugin.

No

What is the issue with editing the the **pubspec.yaml** manually to point to your local packages you need?
Also, with **Melos**,  how would you specify which local package another package in the workspace needs, without editing its **pubspec.yaml** ?

I don't know about **Melos**,  but from the look at it, it looks most of what it does can be do

[2022-10-26 12:06] virginiarcruz commented on #140
Hey @tinesoft

Thanks for answer :)

The issue of updating the **pubspec.yaml** manually is that for small projects it works. But for larger projects this can create an issue if, for example, you need to publish the packages (by git tag for example), you will need to update the version of each one manually in **pubspec.yaml**.
If the packages are coupled it will be necessary to manually check whic

[2022-10-26 13:42] tinesoft commented on #140
Hi @virginiarcruz

Thanks for elaborating.

Do I understand correctly :
* that in your workspace, you can link to packages that are globally installed on your machine without having them listed **explicitly** in the **pubspec.yaml** of related projects ?
* that *Melos** uses that feature to make your local packages available as global packages, and so, have them useable directly?

If so, what happ

[2022-10-27 02:30] rubiagatra commented on #131
I still can't install it @tinesoft with your suggestion. For now I only using Flutter CLI manually

[2022-10-27 20:50] CrystalMethod opened #142 "[Bug] error when generating Spring Boot app"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

6.0.0

### Nx Version

15.0.3

### Expected Behaviour

Run nx-spring-boot to scaffold a Spring Boot application in your NX based monorepo.

### Actual Behaviour

[code]

### Steps to reproduce the behaviour

1. setup workspace with Nx > 15.0
2. add nx-spring-boot plugin
3. run nx-spring-boot generator to scaffold Spring Boot app

[2022-10-28 19:49] virginiarcruz commented on #140
No, packages can be published and I can link in pubspec.yaml.
But if I want to update the packages I don't do it manually, this is done by the command line and the dependencies are linked.

Yes!

Yes, I can decide for example to use my package in the monorepo or make it available for other projects outside the monorepo.

[2022-10-30 16:51] #131 closed

[2022-10-30 17:21] tinesoft commented on #142
Hi @CrystalMethod

Thanks for using the plugin and reporting this issue.

Please post here the output of `node --version`, `npm --version`, along with you OS version.

The issue is linked to the underlying library used by this plugin to unzip the  zip from Spring Initializ'r. See https://github.com/ZJONSSON/node-unzipper/issues/228

[2022-10-31 10:04] CrystalMethod commented on #142
[code]

[2022-10-31 10:08] tinesoft commented on #142
Hi @CrystalMethod

Thanks for clarifying, it confirms my initial thought (the issue appear since node v17 or later).

I'm implementing the workaround mentioned in the link above, almost done (a couple of unit tests to fix and that's it)

 Stay tuned!

[2022-10-31 10:38] CrystalMethod commented on #142
Thanks for your quick reply. I can confirm the working with Node version v16.18.0. I can live with this restriction for now.

[2022-10-31 10:38] #142 closed

[2022-11-03 19:41] tinesoft commented on #140
Hi @virginiarcruz

Thanks for the clarifications.

I still have a few questions, but overall I get the idea, and see the interest of `Melos`.

I will start implement something soon.
I might need additional information from you again, so if I can ping you by DM, it will be great.

Here is my twitter handler: @tinesoft.
Feel free to contact me there.

[2022-11-05 22:16] tinesoft commented on #131
Update:

I fixed the bug after updating Nx to `v15.0.4`, but the issue is back again after update to recent version of Nx.
So until they properly fix the problem, you can use this [workaround](https://pnpm.io/errors#err_pnpm_peer_dep_issues):

in your `package.json`:
[code]

[2022-11-08 09:50] SOG-web opened #147 "[Feature] @nxrocks/nx-flutter:flutter-shared-widget-across multiple project"
### Is your feature request related to a problem? Please describe

_No response_

### Describe the idea you'd like

I don't how possible it is to have shared widget like a library, component just like the way nx-expo does it
example: Run `nx g @nxrocks/nx-flutter:component component-name --project=app-name` to generate a new component.
Run `nx g @nxrocks/nx-flutter:lib my-lib` to generate a librar

[2022-11-08 10:13] SOG-web commented on #147
Hi, I have been able to generate the shareable modules, but how do i use it in another flutter project

[2022-11-22 02:52] jsalva commented on #142
will this make it into a release any time soon? Also impacted by this. Thanks @tinesoft for fixing

[2022-11-28 20:01] OsvaldoBFGO opened #149 "[Bug] Error downloading Spring Boot project zip"
### Plugin Name

@nxrocks/nx-spring-boot

### Plugin Version

v ^6.0.0

### Nx Version

15.2.1

### Expected Behaviour

Expected to create springboot project

### Actual Behaviour

Error while dowlading project, with this message:

   Download URL: https://start.spring.io/starter.zip?type=maven-project&language=java&name=si-vale-fintech-api&groupId=com.upsv&artifactId=fintech&packageName=com.upsv.

[2022-11-28 20:03] OsvaldoBFGO commented on #149
npx nx generate @nxrocks/nx-spring-boot:project si-vale-fintech-api --dependencies=4.0.0 --description='API para App y Portal de Fintech Up Si Vale' --directory=packages --artifactId=fintech --bootVersion=2.4.1 --groupId=com.upsv --packageName=com.upsv.fintech --no-interactive --dry-run

This is the full commnad line

[2022-11-29 21:09] tinesoft commented on #149
Hi @OsvaldoBFGO

Thanks for using the plugin.
The error you are having seems to be due to a bad value for the "**dependencies**" parameter. You set "4.0.0",  while it should be a list of  [id of the dependencies](https://start.spring.io/dependencies) you want to  include in the project (for example "webflux,devtools,data-jpa").